* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'poppins', sans-serif;
}

body {
    color: #855656; /*#632d2d*/
    background: #f5ecec;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: rgb(47, 34, 34);; /*rgb(145, 94, 105)*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #f2c6c6;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a {
    display: inline-block;
    font-size: 25px;
    color: #f5e2e2;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover {
    color: rgb(128, 100, 100);
}

.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: url(images/Untitled\ design.png) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content {
    max-width: 600px;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3 span {
    color: rgb(224, 171, 171);
    font-size: 35px;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content p {
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #b19494;
    border-radius: 50%;
    font-size: 20px;
    color: #ff0000;
    text-decoration: none;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
    margin: 30px 15px 30px 0;
}

.home-sci a:nth-child(1) i {
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: inline-block;
}

.home-sci a:nth-child(2) i {
    color: #0077B5; 
}

.home-sci a:nth-child(3) i {
    color: #25D366; 
}

.home-sci a:hover {
    background: #f6e3e3;
    color: white;
    box-shadow: 0 0 20px #be9b9b;
}

.btn-box {
    display: inline-block;
    padding: 12px 28px;
    background: #725c5c;
    border-radius: 40px;
    font-size: 16px;
    color: #ffffff;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #816767,
        0 0 25px #7f5959;
}

.btn-box:hover {
    box-shadow: 0 0 5px #cab8b8,
        0 0 25px #c0b5b5, 0 0 50px #a37f7f,
        0 0 100px #f08b8b, 0 0 200px #f08b8b
}

.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}

.about-img img{
    padding-bottom: 20%;
    padding-top: 20%;
    padding-left: 15%;
    max-width: 630px;
    height: auto;
    width: 75%;
    border-radius: 8px;
}

.about-text h2{
    font-size: 60px;
}

.about-text h2 span{
    color:#e5a6a6;
}

.about-text h4{
    font-size: 29px;
    font-weight: 600;
    color:#ac8585;
    line-height: 1.7;
    margin: 15px 0 30px;
}

.about-text p{
    color: rgb(145, 94, 105);
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}

.services{
    color: #7c4a4a;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}

.sub-title{
    text-align: center;
    font-size: 60px;
    padding-bottom: 50px;
    padding-left: 10px;
}

/*.sub-title h1{
    text-align: center;
}*/

.sub-title span{
    color:#d08a8a;
}

.container{
    padding-left: 250px; /*250px*/
    padding-top: 60px;

}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(259px,1fr));
    grid-gap: 200px;  /*140*/
    margin-top: 35px;
}


.services-list div{
    background-color: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 20px #632d2d,
                1px 1px 40px #632d2d
}

.services-list div i{
    font-size: 50px;
    margin-bottom: 10px;
}

.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a{
    text-decoration: none;
    color: #371a1a;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.read{
    display: inline-block;
    padding: 12px 28px;
    background:rgb(145, 94, 105);
    border-radius: 40px;
    font-size: 16px;
    color:#f08b8b;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #f08b8b,
        0 0 25px #f08b8b;
}

.read:hover{
    box-shadow: 0 0 5px #f08b8b,
        0 0 25px #f08b8b, 0 0 50px #f08b8b,
        0 0 100px #f08b8b, 0 0 200px #f08b8b
}

.services-list div:hover{
    transform: translateY(-10px);
}

section{
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    padding-left: 10px;
}

.sub-title1{
    text-align: center;
    font-size: 60px;
    padding-bottom: 50px;
    padding-left: 10px;
}

/*.sub-title h1{
    text-align: center;
}*/

.sub-title1 span{
    color:#c79f9f;
}

.container1{
    width: 600px;
    height: 500px;
    padding: 75px 90px;
    margin-left: 120px;
}

.heading1{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
}

.bar{
    font-size: 23px;
}

.Technical-bars .bar{
    margin-top: 40px 0;
}

.Technical-bars .bar:first-child{
    margin-top: 0;
}

.Technical-bars .bar:last-child{
    margin-bottom: 0;
}

.Technical-bars .bar .info{
    margin-bottom: 5px;
}

.Technical-bars .bar .info span{
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.Technical-bars .bar .progress-line{
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: #644242;
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

@keyframes animate{
    100%{
        transform: scaleX(1);
    }
}

.Technical-bars .bar .progress-line span{
    height: 100%;
    background-color: #d5a2a2;
    position: absolute;
    border-radius: 10px;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

.progress-line.html span{
    width: 80%
}
.progress-line.css span{
    width: 90%
}
.progress-line.javascript span{
    width: 85%
}
.progress-line.python span{
    width: 75%
}
.progress-line.react span{
    width: 80%
}

.progress-line span::after{
    position: absolute;
    padding: 1px 8px;
    background-color: #d5a2a2;
    color:#371a1a;
    font-size: 12px;
    border-radius: 3px;
    top: -28px;
    right: -20px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}

.progress-line.html span::after{
    content: "80%";
}

.progress-line.css span::after{
    content: "90%";
}

.progress-line.javascript span::after{
    content: "85%";
}

.progress-line.python span::after{
    content: "75%";
}

.progress-line.react span::after{
    content: "80%";
}

.progress-line span::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #371a1a;
    top: -10px;
    right: 0;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}

@keyframes showText{
    100%{
        opacity: 1;
    }
}

.radial-bars{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.radial-bar {
    position: relative;
    width: 200px;
    height: 200px;
}

.radial-bar svg {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(-90deg);
}

.progress-bar {
    stroke: #c27e7e;
}

.percentage {
    font-size: 24px;
    font-weight: bold;
}

.text {
    margin-top: 10px;
    font-size: 18px;
}


.radial-bars .radial-bar{
    width: 50%;
    height: 170px;
    margin-bottom: 10px;
    position: relative;
}

.radial-bars .radial-bar svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 120px;
    height: 160px;
}

.radial-bars .radial-bar .progress-bar{
    stroke-width: 10;
    stop-color: #b16c6c;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    animation: animate-bar 1s linear forwards;
}

@keyframes animate-bar{
    100%{
        stroke-dashoffset: -1;
    }
}

.path{
    stroke-width: 10;
    stroke:#5b3434;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
}

.path-1{animation: animate-path1 1s 1s linear forwards}
.path-2{animation: animate-path2 1s 1s linear forwards}
.path-3{animation: animate-path3 1s 1s linear forwards}
.path-4{animation: animate-path4 1s 1s linear forwards}

@keyframes animate-path1{
    100%{
        stroke-dashoffset: 20;;
    }
}

@keyframes animate-path2{
    100%{
        stroke-dashoffset: 130;;
    }
}

@keyframes animate-path3{
    100%{
        stroke-dashoffset: 140;;
    }
}

@keyframes animate-path4{
    100%{
        stroke-dashoffset: 0;;
    }
}

.radial-bar .percentage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    font-weight: 500;
    color: #765454; /* Dark brown color */
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.radial-bar .text{
    width: 100%;
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50px);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

@keyframes showText {
    100% {
        opacity: 1;
    }
}

.main-text{
    padding-top: 100px; /*130*/
    margin-top: 5px; /*200*/
}

.main-text h2{
    font-size: 60px;
    line-height: 1;
    text-align: center;
    padding-bottom: 50px;
}

.main-text h2 span{
    color:#cb9393;
}

.portfolio-content{
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(359px, auto));
    padding: 5px;
}

.row{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
}

.row img{
    width: 100%;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.1),#632d2d);
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transition: height 0.5s;;
}

.layer h5{
    color:#ffffff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.layer p{
    color:#ffffff;
    font-size: 1rem;
    line-height: 1.8;
}

.layer i{
    color:#c27e7e;
    margin-top: 20px;
    font-size: 20px;
    background: #fff;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.row:hover img{
    transform: scale(1.1);
}

.row:hover .layer{
    height: 100%;
}

.contact{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
    padding-left: 30px;
    margin-top: 100px;
}

.contact-text h2{
    font-size: 70px;
    line-height: 1;
    /*text-align: center;*/
}

.contact-text h2 span{
    color:rgb(210, 166, 166);
}

.contact-text h4{
    margin: 15px 0;
    color: #754040;
    font-size: 20px;
    font-weight: 600;
}

.contact-text p{
    color:#754040;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
}

.contact-list{
    margin-left: 3rem;
}

.contact-list li{
    margin-bottom: 10px;
    display: block;
}

.contact-list i{
    display: inline-block;
    color:rgb(145, 94, 105);
    font-size: 20px;
    font-weight: 600;
    transition: all .40s ease;
}

.contact-list li a:hover{
    transform: scale(1.01) translateY(-5px);
    color:#7c4a4a;
}

.contact-icons i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #b16c6c;
    border-radius: 50%;
    font-size: 20px;
    color:#955656;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.contact-icons i:hover{
    background: #754040;
    color:rgb(250, 247, 247);
    box-shadow: 0 0 20px #955656;
}

.contact-form form{
    position: relative;
    padding-top: 100px;
}

.contact-form form input, form textarea{
    border: none;
    outline: none;
    width: 90%;
    padding: 18px;
    background: #cccccc;
    color:rgb(97, 44, 44);
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}

.contact-form textarea{
    resize: none;
    height: 220px;
}

.contact-form form .send{
    display: inline-block;
    padding: 14px 60px;
    background:rgb(153, 118, 118);
    border-radius: 40px;
    font-size: 18px;
    color:#f6e3e3;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #a76d6d,
        0 0 25px #a76d6d;
}

.contact-form form .send:hover{
    box-shadow: 0 0 5px #a76d6d,
        0 0 25px #a76d6d, 0 0 50px #a76d6d,
        0 0 100px #a76d6d, 0 0 200px #a76d6d
}

.last-text p{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: rgb(246, 211, 211);
    font-weight: 300;
    margin-top: 70px;
}

.top{
    position: fixed;
    bottom: 2.1rem;
    right: 2.1rem;
}

.top i{
    color:rgb(252, 236, 236);
    background: #7c5b5b;
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem;
}












@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}